[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "thirdparty/minizip-ng"]
	path = thirdparty/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng
[submodule "thirdparty/silver-bun"]
	path = thirdparty/silver-bun
	url = https://github.com/WtzLAS/silver-bun
[submodule "thirdparty/zlib-ng"]
	path = thirdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
