[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/silver-bun"]
	path = thirdparty/silver-bun
	url = https://github.com/IcePixelx/silver-bun.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "thirdparty/minizip-ng"]
	path = thirdparty/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng
